In [1]:
import pandas as pd

In [2]:
action_submit_result_df = pd.DataFrame({
    'req_id': ['req001', 'req002', 'req003'],
    'request_data': ['data1', 'data2', 'data3']
})

action_submit_resp_df = pd.DataFrame({
    'resp_id': ['req001', 'req003', 'req004'],
    'result': ['success', 'failed', 'pending']
})

In [3]:
action_submit_result_df

   req_id request_data
0  req001        data1
1  req002        data2
2  req003        data3

In [4]:
action_submit_resp_df

  resp_id   result
0  req001  success
1  req003   failed
2  req004  pending

In [5]:
# 合并两个 df
action_submit_result_df.merge(
    action_submit_resp_df,
    left_on='req_id',
    right_on='resp_id',
    how='left'
)

   req_id request_data resp_id   result
0  req001        data1  req001  success
1  req002        data2     NaN      NaN
2  req003        data3  req003   failed